@import url(../styles/variables.css);

.voice-control {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--bg-color-over);
}

.voice-control button {
    background-color: var(--third-color);
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.voice-commands ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }
  
  .voice-commands li {
    margin-bottom: 0.5rem;
  }
  

@media (max-width: 768px) {
    .voice-control {
      justify-content: center;
      align-items: center;
    }
  }