@import url('../../styles/variables.css');

.camera-recognition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.camera-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.camera-controls button {
  background-color: var(--bg-color-dark);
  padding: 1rem 2rem;
  font-size: 1rem;
}

.camera-preview {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--bg-color-border);
  background-color: var(--bg-color-light);
}

.captured-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.captured-preview img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detection-controls {
  display: flex;
  justify-content: center;
}

.process-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--third-color);
  color: var(--contrast-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.process-button:hover {
  background-color: var(--third-color-dark);
}

.process-button:disabled {
  background-color: var(--bg-color-dark);
  cursor: not-allowed;
}